<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>You will get more details</h1>
    <h2>Name: <%=product.name %></h2>
    <h3>Price: <%= product.price%></h3>
    <h4>Category: <%= product.category%></h4>
</body>
</html>